html{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}


body{
	height: 100%;
	width: 100%;
	
	font-size: 1.1 rem;
	margin: 0;
	padding: 0;
}

/* The navigation bar */
header {
	display: flex;
	justify-content: space-between;
	
	background-color: #333;
	width: 100%; /* Full width */
	height: 3rem;
}

/* Links inside the navbar */
header p {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin: 0;
	cursor: pointer;
}

/* Change background on mouse-over */
header p:hover {
  background: #ddd;
  color: black;
}

div#sidenav_and_main_content_wrapper{
	width: 100%;
	height: 95%;
	display: flex;
}

div#main_content{
	height: 100%;
	width: 83%;
	background-color: #dedede;/*#284555;*/
	overflow: auto;
}

h1#chosen_category_name{
	margin-left: 15px;
	text-decoration: underline;
}

div#sidenav{
	width: 17%; /* Set the width of the sidebar */
	height: 100%;
	background-color: #111; /* Black */
	overflow: auto;
}

div#sidenav p {
	/*padding: 6px 8px 6px 16px;*/
	cursor: pointer;
	margin: 15px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: flex;
	justify-content: center;
	align-items: center;
}

div#sidenav p:hover {
	color: #f1f1f1;
}

ul#product_list{
	
}

ul#product_list li{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	display: inline-block;
}

.product_thumbnail_class{
	width: 250px;
	height: 250px;
}
.product_thumbnail_class:hover{
	cursor: pointer;
}

/*ul#product_list img{
	//width: 100%;
	//height: 150px;
	width: 250px;
	height: 250px;
}*/

/*.product_info_wrapper{
	width: 13rem;
}*/


.product_info{
	width: 100%;
	height: 100%;
	
	font-weight: bold;
}

.product_info_wrapper p{
	color: grey;
}
.product_info_wrapper a, a:visited, a:hover, a:focus{
	text-decoration: none;
}


div#category_button_wrapper{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	/*height: auto;*/
}

.values_wrapper{
	/*display: none;*/
	flex-direction: column;
	align-content: center;
}

.filter-row{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%:
}

.input-paragraph-row{
	display: flex;
	color: white;
}


button#send_filters_button{
	margin-top: 25px;
	background-color: #9d060d;
	color: white;
	border: none;
	width: 100%;
	height: 1.8rem;
}
button#send_filters_button:hover{
	opacity: 0.6;
}

.product_link_class{
	display: inline-block;  /*this makes sure the div doesn't get bigger than its contents */
	/*border: solid;
	color: red;*/
}

.product_link_class:hover{
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 black;
	/*
		rgba(0, 0, 0, 0.2)
		rgba(0, 0, 0, 0.19)
	*/
}

div#other_content{
	width: 100%;
	height: 100%;
}


/* Login panel */
div#login_panel{
	width: 100%;
	height: 100%;
}

.login_register_form{
	padding-top: 25px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login_input{
	width: 50%;
	height: 2rem;
	border: 1px solid #ccc;
	box-sizing: border-box;
	display: block;
}
.login_buttons{
	border: none;
	cursor: pointer;
	color: white;
	height: 2rem;
	width: 50%;
}
.login_buttons:hover{
	opacity: 0.8;
}
button#login_button{
	background-color: #04AA6D;
	margin-top: 25px;
}

button#register_button{
	background-color: #f44336;
	margin-top: 25px;
}

/* Registration button in registration panel */
button#send_registration_button{
	background-color: blue;
	margin-top: 15px;
}

/* End of login panel */

/* Shopping cart */
div#articles_in_cart_holder{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.shopping_cart_product_thumbnail{
	height: 150px;
	width: 150px;
}

.shopping_cart_item{
	border: solid;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
.remove_item_from_shopping_cart_button{
	background-color: red;
	border: none;
}
.remove_item_from_shopping_cart_button:hover{
	opacity: 0.5;
}

button#buy_shopping_cart{
	border: none;
	background-color: blue;
	width: 15rem;
	height: 3rem;
	
	margin-top: 25px;
	margin-left: 25px;
	margin-bottom: 25px;
}
button#buy_shopping_cart:hover{
	opacity: 0.5;
}
/* End of shopping cart */

/* Examine product */
div#examine_product_wrapper{
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#other_product_info_wrapper{
	padding-left: 25px;
	width: 100%;
	height: 100%;
}

button#buy_product_button{
	background-color: blue;
	color: white;
	border: none;
	width: 6rem;
	height: 3rem;
	margin-top: 25px;
}
button#buy_product_button:hover{
	opacity: 0.5;
}
input#buy_product_amount_input{
	display: block;
}
