html{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}


body{
	height: 100%;
	width: 100%;
	
	font-size: 1.1 rem;
	margin: 0;
	padding: 0;
}

/* The navigation bar */
header {
  background-color: #333;
  width: 100%; /* Full width */
  height: 3rem;
}

/* Links inside the navbar */
header a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
header a:hover {
  background: #ddd;
  color: black;
}

div#sidenav_and_main_content_wrapper{
	width: 100%;
	height: 95%;
	display: flex;
}

div#main_content{
	height: 100%;
	width: 83%;
	background-color: #284555;
	overflow: auto;
}

h1#chosen_category_name{
	margin-left: 15px;
}

div#sidenav{
	width: 17%; /* Set the width of the sidebar */
	height: 100%;
	background-color: #111; /* Black */
	overflow: auto;
}

div#sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#sidenav a:hover {
  color: #f1f1f1;
}

ul#product_list{
	
}

ul#product_list li{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	display: inline-block;
}
ul#product_list img{
	width: 100%;
	height: 150px;
}

.product_info_wrapper{
	width: 13rem;
}

.product_info{
	width: 100%;
	height: 100%;
	
	font-weight: bold;
}

.product_info_wrapper p{
	color: grey;
}
.product_info_wrapper a, a:visited, a:hover, a:focus{
	text-decoration: none;
}


div#category_button_wrapper{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	/*height: auto;*/
}

.values_wrapper{
	display: none;
	flex-direction: column;
	align-content: center;
}

.filter-row{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%:
}

.input-paragraph-row{
	display: flex;
	color: white;
}


button#send_filters_button{
	margin-top: 25px;
	background-color: #9d060d;
	color: white;
	border: none;
	width: 100%;
	height: 1.8rem;
}
button#send_filters_button:hover{
	opacity: 0.6;
}

.product_image_link{
	display: inline-block;
	/*border: solid;
	color: red;*/
}

.product_image_link:hover{
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
	/*
		rgba(0, 0, 0, 0.2)
		rgba(0, 0, 0, 0.19)
	*/
}