form#suppliers_form{
	display: flex;
	flex-direction: column;
}

button#add_supplier_button{
	color: white;
	background-color: blue;
	border: none;
	font-weight: bold;
	
	width: 12rem;
	height: 2rem;
	
	margin-top: 25px;
}
button#add_supplier_button:hover{
	opacity: 0.5;
}

select#suppliers_select{
	width: 100%;
	height: 15rem;
}