select#products_select{
	width: 100%;
	height: 15rem;
}

div#products_info_wrapper{
	display: flex;
	flex-direction: column;
}

h2#products_header{
	margin-bottom: 0;
}

img#thumbnail{
	/*width: 20rem;
	height: 20rem;*/
	display: block;
	width: auto;
	height: auto;
	
	max-height: 400px;
	margin: 0 auto;
}